<template>
  <div class="loginWrapper w-screen h-screen flex items-center justify-center">
    <login-component @logged-in="loggingIn"/>
  </div>
</template>

<script>
import LoginComponent from "@/components/LoginComponent";
export default {
  components: {LoginComponent},
  methods: {
    async loggingIn() {
      await this.$store.commit('SET_AUTH', true)
      await this.$router.push('/')
    }
  }
}
</script>

<style scoped>

</style>
