<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="28"
       height="28"
       viewBox="0 0 28 28"><title>Essential- 71</title>
    <g fill="#ffffff">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0h27.97v27.97H0z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g class="cls-2"
         clip-path="url(#clip-path)">
        <path d="M22 4h-1.64V2.38a.5.5 0 1 0-1 0V4h-1.67a.51.51 0 0 0-.5.5.5.5 0 0 0 .5.5h1.67v1.71a.5.5 0 1 0 1 0V5H22a.5.5 0 0 0 .5-.5.51.51 0 0 0-.5-.5z"></path>
        <path d="M14.51 15.71h-3c-3.32 0-6 4.44-6 9.91a.5.5 0 0 0 .5.5.5.5 0 0 0 .5-.5c0-4.83 2.3-8.91 5-8.91h3c2.73 0 5 4.08 5 8.91a.5.5 0 0 0 .5.5.5.5 0 0 0 .5-.5c.03-5.47-2.67-9.91-6-9.91z"></path>
        <path d="M13 15.21a4.4 4.4 0 0 0 4.39-4.39V9.76a4.39 4.39 0 0 0-8.78 0v1.06A4.4 4.4 0 0 0 13 15.21zM9.62 9.76a3.39 3.39 0 0 1 6.78 0v1.06a3.39 3.39 0 1 1-6.78 0z"></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "AddAccount"
}
</script>

<style scoped>

</style>
