<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="28"
       height="28"
       viewBox="0 0 28 28"><title>Essential- 87</title>
    <g fill="#020202">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 .01h27.97v27.97H0z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <path d="M22 1.83a.5.5 0 0 0-.5.5V16.6a5.39 5.39 0 0 1-1.61 3.86A5.55 5.55 0 0 1 16 22H6.86l1.29-2.31a.5.5 0 0 0-.88-.49l-1.69 3.08a.47.47 0 0 0 0 .16.5.5 0 0 0 0 .12.58.58 0 0 0 .05.26l1.56 3.08a.49.49 0 0 0 .44.27.46.46 0 0 0 .23-.06.51.51 0 0 0 .21-.68L6.81 23h9.25a6.44 6.44 0 0 0 6.42-6.43V2.33a.51.51 0 0 0-.48-.5z"
            class="cls-2"
            clip-path="url(#clip-path)"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Back"
}
</script>

<style scoped>

</style>
