<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="28"
       height="28"
       viewBox="0 0 28 28">
    <g fill="#53d991">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 .01h27.97v27.97H0z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g class="cls-2"
         clip-path="url(#clip-path)">
        <path d="M25.66 5.52H2.34a.51.51 0 0 0-.5.5V22a.51.51 0 0 0 .5.5h23.32a.51.51 0 0 0 .5-.5V6a.51.51 0 0 0-.5-.48zm-.5 1v2.07H2.84V6.52zm0 4.75H2.84V9.59h22.32zM2.84 21.48v-9.21h22.32v9.21z"></path>
        <path d="M6.64 14.12H4.19a.5.5 0 0 0 0 1h2.45a.5.5 0 0 0 0-1z"></path>
        <path d="M10.81 14.12H8.44a.49.49 0 0 0-.5.49.51.51 0 0 0 .5.51h2.37a.5.5 0 0 0 0-1z"></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Card"
}
</script>

<style scoped>

</style>
