<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       viewBox="0 0 16 16">
    <g fill="#ffffff">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0.01h15.94v15.94h-15.94z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <path d="M8.38 7.98l6.44-6.44a0.29 0.29 0 0 0 0-0.4 0.28 0.28 0 0 0-0.4 0l-6.44 6.44-6.44-6.44a0.28 0.28 0 0 0-0.4 0 0.29 0.29 0 0 0 0 0.4l6.44 6.44-6.44 6.44a0.29 0.29 0 0 0 0 0.4 0.28 0.28 0 0 0 0.2 0.09 0.29 0.29 0 0 0 0.2-0.09l6.44-6.44 6.44 6.44a0.29 0.29 0 0 0 0.21 0.09 0.28 0.28 0 0 0 0.19-0.09 0.29 0.29 0 0 0 0-0.4z"
            class="cls-2"
            clip-path="url(#clip-path)"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Close"
}
</script>

<style scoped>

</style>
