<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="28"
       height="28"
       viewBox="0 0 28 28">
    <g fill="#53d991">
      <path d="M18.5 5.35V4.6a2.76 2.76 0 0 0-5.5 0v.75a2.76 2.76 0 1 0 5.51 0zm-4.5 0V4.6a1.76 1.76 0 0 1 3.51 0v.75a1.76 1.76 0 1 1-3.51 0z"></path>
      <path d="M6.94 7a1.63 1.63 0 0 0 .5 2.23l4.74 3.21v8.19a1.6 1.6 0 0 0 1.6 1.6 1.61 1.61 0 0 0 1.6-1.6v-2.75h.56v7.78a.5.5 0 0 0 .5.5h2.31a.5.5 0 0 0 .5-.5V12.39L24 9.19a1.64 1.64 0 0 0-1.75-2.79L17.8 9.25a3.45 3.45 0 0 0-2.06-.64 3.08 3.08 0 0 0-2.12.72L9.16 6.48A1.65 1.65 0 0 0 6.94 7zM18 10.29l4.75-3a.63.63 0 0 1 .86.22.65.65 0 0 1-.21.88l-5 3.36a.48.48 0 0 0-.22.41v13h-1.24v-7.78a.51.51 0 0 0-.5-.5h-1.56a.5.5 0 0 0-.5.5v3.29a.6.6 0 0 1-.6.6.6.6 0 0 1-.43-.18.59.59 0 0 1-.17-.42v-8.46a.49.49 0 0 0-.18-.41L8 8.43a.64.64 0 0 1-.2-.87.64.64 0 0 1 .85-.23l4.76 3.05a.36.36 0 0 0 .2.06.55.55 0 0 0 .22-.06.35.35 0 0 0 .1-.08 1.88 1.88 0 0 1 1.2-.64v2.88a.51.51 0 0 0 .5.5.5.5 0 0 0 .5-.5V9.66a2.3 2.3 0 0 1 1.18.57.5.5 0 0 0 .69.06z"></path>
      <path d="M4.65 10.19a1.67 1.67 0 0 0 1.67-1.67 1.63 1.63 0 0 0-.26-.88l2.87-3a.5.5 0 0 0 0-.71.5.5 0 0 0-.68 0l-.77-.68A.5.5 0 1 0 6.8 4l.73.66-.22.23-.84-.75a.5.5 0 0 0-.7 0 .5.5 0 0 0 0 .71l.81.72L5.3 7a1.75 1.75 0 0 0-.65-.13 1.67 1.67 0 0 0 0 3.34zm0-2.34a.67.67 0 1 1-.65.67.67.67 0 0 1 .65-.67z"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Exit"
}
</script>

<style scoped>

</style>
