<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       viewBox="0 0 16 16">
    <g fill="#d95353">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0.01h15.94v15.94h-15.94z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <path d="M12.88 3.09a6.91 6.91 0 0 0-9.81 9.76 6.92 6.92 0 0 0 9.81-9.76z m-4.9-1.46a6.3 6.3 0 0 1 4.27 1.66l-8.96 8.96a6.34 6.34 0 0 1 4.69-10.62z m0 12.7a6.33 6.33 0 0 1-4.29-1.68l8.96-8.96a6.34 6.34 0 0 1-4.67 10.64z"
            class="cls-2"
            clip-path="url(#clip-path)"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Fail"
}
</script>

<style scoped>

</style>
