<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       viewBox="0 0 16 16"><title>Essential- 83</title>
    <g fill="#fcfcfc">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0.01h15.94v15.94h-15.94z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <path d="M9.55 3.93l3.09-2.37a0.28 0.28 0 0 0 0.1-0.32 0.29 0.29 0 0 0-0.27-0.19h-8.98a0.29 0.29 0 0 0-0.29 0.28v13.3a0.29 0.29 0 0 0 0.29 0.28 0.28 0.28 0 0 0 0.28-0.28v-13.01h7.86l-2.72 2.08a0.28 0.28 0 0 0-0.11 0.23 0.28 0.28 0 0 0 0.11 0.23l2.72 2.08h-7.07a0.29 0.29 0 0 0-0.28 0.28 0.28 0.28 0 0 0 0.28 0.29h7.91a0.28 0.28 0 0 0 0.17-0.51z"
            class="cls-2"
            clip-path="url(#clip-path)"></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Flag"
}
</script>

<style scoped>

</style>
