<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 28 28"
       width="28"
       height="28">
    <g fill="#53d991">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 .01h27.97v27.97H0z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g class="cls-2"
         clip-path="url(#clip-path)">
        <path d="M7.72 12a.5.5 0 0 0 .5-.5V6.09a.5.5 0 0 0-.5-.5H2.28a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5zM2.78 6.59h4.44V11H2.78z"></path>
        <path d="M16.64 12a.5.5 0 0 0 .5-.5V6.09a.5.5 0 0 0-.5-.5H11.2a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5zM11.7 6.59h4.44V11H11.7z"></path>
        <path d="M25.56 12a.5.5 0 0 0 .5-.5V6.09a.5.5 0 0 0-.5-.5h-5.45a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5zm-4.95-5.41h4.45V11h-4.45z"></path>
        <path d="M7.89 16H2.44a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5h5.45a.5.5 0 0 0 .5-.5v-5.47a.5.5 0 0 0-.5-.47zm-.5 5.44H2.94V17h4.45z"></path>
        <path d="M16.8 16h-5.44a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5h5.44a.5.5 0 0 0 .5-.5v-5.47a.5.5 0 0 0-.5-.47zm-.5 5.44h-4.44V17h4.44z"></path>
        <path d="M25.72 16h-5.44a.5.5 0 0 0-.5.5v5.44a.5.5 0 0 0 .5.5h5.44a.5.5 0 0 0 .5-.5v-5.47a.5.5 0 0 0-.5-.47zm-.5 5.44h-4.44V17h4.44z"></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Overview"
}
</script>

<style scoped>

</style>
