<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24.27"
       height="24.31"
       viewBox="0 0 24.27 24.31">
    <g fill="#53d991">
      <defs>
        <clipPath id="clip-path"
                  transform="translate(-1.87 -1.85)">
          <path class="cls-1"
                d="M0 0h28v28H0z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g id="Capa_2"
         data-name="Capa 2">
        <g id="Strategy">
          <g class="cls-2"
             id="_61"
             data-name="61"
             clip-path="url(#clip-path)">
            <path d="M24 12.55a6 6 0 0 0 1.94-4.88c-.11-.72-.39-1.15-.82-1.3a1.36 1.36 0 0 0-1.28.43 20.52 20.52 0 0 1-2.08 2 1.14 1.14 0 0 1-.87.36 1.17 1.17 0 0 1-.74-.45s-.57-.56-1.15-1.29c-.32-.38.17-.94.17-.94a24.2 24.2 0 0 0 2.32-2.4 1.3 1.3 0 0 0 .33-1.29A1.54 1.54 0 0 0 20.7 2c-2.65-.61-5.53 1.5-6.46 3.76a7.06 7.06 0 0 0-.19 4.37L2.6 21.52a2.92 2.92 0 0 0 0 3.81 2.33 2.33 0 0 0 1.84.82 3.34 3.34 0 0 0 1.56-.4l.11-.08 12.4-12.09A5.48 5.48 0 0 0 24 12.55zm-6 .08L5.44 24.9a1.78 1.78 0 0 1-2.12-.23 2 2 0 0 1 0-2.43L15 10.57a.5.5 0 0 0 .11-.52 6.26 6.26 0 0 1 .09-4 5.53 5.53 0 0 1 4.61-3.24 3.27 3.27 0 0 1 .7.08.63.63 0 0 1 .36.2s0 .12-.17.33a27.47 27.47 0 0 1-2.24 2.31 1.75 1.75 0 0 0-.23 2.3c.57.67 1.05 1.19 1.14 1.29a2.16 2.16 0 0 0 1.42.84 2.11 2.11 0 0 0 1.64-.6 22.8 22.8 0 0 0 2.16-2.13c.05 0 .19-.14.21-.16s.1.09.16.51a5.05 5.05 0 0 1-1.54 3.93 4.5 4.5 0 0 1-4.81.78.49.49 0 0 0-.61.14z"
                  transform="translate(-1.87 -1.85)"></path>
            <path d="M26.07 24.55a35.05 35.05 0 0 0-2.53-3.93 3.26 3.26 0 0 0-2-1.07l-3.37-3.4a.5.5 0 0 0-.71.7l3.49 3.53a.51.51 0 0 0 .36.15 2.24 2.24 0 0 1 1.51.76A31 31 0 0 1 25 24.73l-.28.3A23.88 23.88 0 0 1 22 23.34c-.88-.68-1.39-1.4-1.36-1.91a.48.48 0 0 0-.15-.38l-3.63-3.57a.5.5 0 0 0-.71 0 .49.49 0 0 0 0 .7l3.48 3.43a3.78 3.78 0 0 0 1.75 2.51 28.75 28.75 0 0 0 3.21 2 .68.68 0 0 0 .23 0 .47.47 0 0 0 .37-.16l.79-.86a.5.5 0 0 0 .09-.55z"
                  transform="translate(-1.87 -1.85)"></path>
            <path d="M3 7.5l5.34 5.27a.5.5 0 0 0 .35.14.47.47 0 0 0 .31-.15.48.48 0 0 0 0-.7L3.68 6.77a2.24 2.24 0 0 1-.19-3.23 2.13 2.13 0 0 1 2.94-.22l5.68 5.61a.5.5 0 1 0 .7-.71L7.08 2.56a3.19 3.19 0 0 0-4.36.33A3.24 3.24 0 0 0 3 7.5z"
                  transform="translate(-1.87 -1.85)"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Setting"
}
</script>

<style scoped>

</style>
