<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       viewBox="0 0 16 16"><title>Essential- 55</title>
    <g fill="#ffffff">
      <defs>
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0h15.94v15.94h-15.94z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g class="cls-2"
         clip-path="url(#clip-path)">
        <path d="M7.21 11.08h1.56a0.28 0.28 0 0 0 0.28-0.27l0.64-9.47a0.28 0.28 0 0 0-0.1-0.2 0.3 0.3 0 0 0-0.21-0.09h-2.8a0.3 0.3 0 0 0-0.21 0.09 0.28 0.28 0 0 0-0.07 0.21l0.63 9.48a0.28 0.28 0 0 0 0.28 0.25z m1.86-9.47l-0.57 8.9h-1.02l-0.57-8.9z"></path>
        <path d="M7.98 11.55a1.71 1.71 0 1 0 1.68 1.71 1.71 1.71 0 0 0-1.68-1.71z m0 2.8a1.14 1.14 0 1 1 1.14-1.11 1.11 1.11 0 0 1-1.14 1.11z"></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Spam"
}
</script>

<style scoped>

</style>
