<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       viewBox="0 0 16 16">
    <g fill="#53d991">
      <defs fill="#53d991">
        <clipPath id="clip-path">
          <path class="cls-1"
                d="M0 0h15.94v15.94h-15.94z"
                style=""
                fill="none"></path>
        </clipPath>
      </defs>
      <g class="cls-2"
         clip-path="url(#clip-path)"
         fill="#53d991">
        <g id="Check">
          <path d="M7.98 14.86a6.88 6.88 0 1 1 6.88-6.88 6.89 6.89 0 0 1-6.88 6.88z m0-13.19a6.31 6.31 0 1 0 6.31 6.31 6.32 6.32 0 0 0-6.31-6.31z"></path>
          <path d="M6.61 10.76a0.28 0.28 0 0 1-0.19-0.08l-1.86-1.73a0.28 0.28 0 1 1 0.37-0.4l1.66 1.53 4.39-4.76a0.28 0.28 0 1 1 0.42 0.38l-4.56 4.96a0.3 0.3 0 0 1-0.2 0.1z"></path>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Success"
}
</script>

<style scoped>

</style>
