<template>
  <div class="cardWrapper rounded-2xl">
    <div class="flex items-center justify-between w-full h-full">
      <div class="flex flex-col justify-between p-5 h-full">
        <span class="text-xl text-yellow-500 italic">
          Bank-R
        </span>

        <div class="flex flex-col">
          <span>
            {{ info.account_number }}
          </span>
          <span class="text-sm">
           {{ info.holder }}
          </span>
        </div>
      </div>

      <div class="flex flex-col items-end justify-between h-full py-5 pr-5">
        <span class="font-bold text-xl tracking-wide text-green-500">
          {{ info.balance }}$
        </span>

        <master-card/>
      </div>
    </div>

  </div>
</template>

<script>
import MasterCard from "~/components/svg/MasterCard";
export default {
  name: "CardAccount",
  components: {MasterCard},
  props: {
    info: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
  .cardWrapper {
    width: 320px;
    height: 180px;
    background-color: #868484;
  }
  .mastercard {
    bottom: 10px;
    right: 10px;
  }
</style>
