<template>
  <div class="flex flex-col items-center">
    <h1 class="subtitle">Welcome to Bank-R</h1>
    <form @submit.prevent="submit" class="loginForm flex flex-col items-center">
      <label for="user"></label>
      <input v-model="user" type="text" id="user" required placeholder="User" class="userInput border p-2 m-1 rounded-l w-48">
      <label for="password"></label>
      <input v-model="password" type="password" id="password" required placeholder="Password" class="passwordInput border p-2 m-1 rounded-l w-48">

      <button
        type="submit"
        class="loginBtn mt-5 bg-green-200 w-48 h-10 flex items-center justify-center rounded-l cursor-pointer">
        <span>
          Login
        </span>
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "LoginComponent",
  data: () => ({
    user: '',
    password: ''
  }),
  methods: {
    async submit() {

      await fetch('http://localhost:4040/login', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        credentials: 'include',
        body: JSON.stringify({
          user: this.user,
          password: this.password
        })
      })
      await this.$emit('logged-in', true)
    }
  }
}
</script>

<style scoped>

</style>
