<template>
  <div class="bg-gray-100 min-h-screen w-64 flex flex-col items-center border-r-2">
    <div class="border-b-2 w-full flex justify-center">
      <h2 class="subtitle mx-auto">
        Bank-R
      </h2>
    </div>

    <div class="flex flex-col items-center">
      <div class="account w-32 h-32 mt-8 rounded-full overflow-hidden flex-shrink-0">
        <img
          src="../static/IMG_1463-zmall.jpg"
          alt="profile_picture">
      </div>
      <span class="text-sm mt-1">
        Remus Ranca
      </span>
    </div>

    <div class="sideBarItemsWrapper ml-5 mt-10 w-full h-full">
      <div class="h-64 flex flex-col justify-between">
        <nuxt-link to="/" class="flex items-center">
          <overview class="w-10"/>
          <span class="text-xl ml-2">
            Dashboard
          </span>
        </nuxt-link>

        <nuxt-link to="/accounts" class="flex items-center">
          <card class="w-10"/>
          <span class="text-xl ml-2">
            Accounts
          </span>
        </nuxt-link>

        <nuxt-link to="/transactions" class="flex items-center">
          <card class="w-10"/>
          <span class="text-xl ml-2">
            Transactions
          </span>
        </nuxt-link>

        <nuxt-link to="/settings" class="flex items-center">
          <setting class="w-10"/>
          <span class="text-xl ml-2">
            Settings
          </span>
        </nuxt-link>

        <div
          @click="logOut"
          class="flex items-center cursor-pointer">
          <exit class="w-10"/>
          <span class="text-xl ml-2">
            Sign Out
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Overview from "~/components/svg/Overview";
import Card from "~/components/svg/Card";
import Setting from "~/components/svg/Setting";
import Exit from "~/components/svg/Exit";
export default {
  name: "Sidebar",
  components: {Exit, Setting, Card, Overview},
  methods: {
    async logOut() {
      await this.$store.commit('SET_AUTH', false)
      await this.$router.push('/login')
    }
  }
}
</script>

<style scoped>

</style>
