<template>
  <div class="w-screen">
    <div class="border-b-2 w-full flex items-center justify-between">
      <h2 class="subtitle ml-5">
        Accounts
      </h2>
      <span class="text-xl mr-5">
        Balance: <span class="text-green-500">{{ balance }} $</span>
      </span>
    </div>

    <div class="accounts ml-5 mt-5 flex items-center w-full flex-wrap">
      <card-account
        v-for="(item, index) in returnAccounts"
        :key="index"
        :info="item"
        class="mr-5 mb-5">
      </card-account>

      <div class="createAccount flex flex-col items-center ml-8">
        <span class="text-xs mb-2">
          New account
        </span>
        <div
          @click="newAccount"
          class="addButton rounded-full h-12 w-12 bg-green-500 flex items-center justify-center cursor-pointer">
          <add-account />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import CardAccount from "~/components/CardAccount";
import AddAccount from "~/components/svg/AddAccount";
import Exit from "~/components/svg/Exit";
export default {
  components: {Exit, AddAccount, CardAccount},
  methods: {
    ...mapActions(['getAccounts', 'createAccount']),
    newAccount() {
      const delay = t => new Promise(resolve => { setTimeout(resolve, t)})

      this.createAccount()

      delay(500).then(() => {
        this.getAccounts()
      })
    }
  },
  computed: {
    ...mapState(['balance', 'accounts']),
    returnAccounts() {
      return this.$store.state.accounts
    }
  }
}
</script>

<style scoped>

</style>
