<template>
  <div
    class="flex">
    <sidebar v-if="authenticated"/>
    <nuxt/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Sidebar from "~/components/Sidebar";
export default {
  components: {Sidebar},
  mounted() {
    this.getData()
    this.checkAuth()
  },
  // data: () => ({
  //   authenticated: false
  // }),
  methods: {
    ...mapActions(['getAccounts', 'getTransactions']),
    getData() {
      this.getAccounts()
      this.getTransactions()
    },
    async checkAuth() {
      if(this.authenticated) {
        await this.$router.push('/')
      }
      await this.$router.push('/login')

      try {
        await fetch('http://localhost:4040/users', {
          headers: {'Content-Type': 'application/json'},
          credentials: 'include'
        })
        // await this.$store.commit('SET_AUTH', true)
      }catch (e) {
        alert(e)
        // this.$store.commit('SET_AUTH', false)
      }
    }
  },
  computed: {
    ...mapGetters(['authenticated'])
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.debug {
  border: 2px dotted red;
}
</style>
