<template
  :key="Math.floor(Math.random() * Math.floor(523400))">
  <div class="w-screen">
    <div class="border-b-2 w-full flex items-center justify-between">
      <h2 class="subtitle ml-5">
        Transactions
      </h2>
      <span class="text-xl mr-5">
        Balance: <span class="text-green-500">{{ balance }} $</span>
      </span>
    </div>
    <div class="content mx-5 mt-5">
      <!--      <div class="goBack mb-5">-->
      <!--        <nuxt-link to="/" class="flex items-center">-->
      <!--          <back />-->
      <!--          <span>Go back</span>-->
      <!--        </nuxt-link>-->
      <!--      </div>-->
      <div class="labels w-full flex items-center justify-between mb-5">
        <span
          v-for="label in labels"
          class="text-xs font-bold opacity-50 tracking-wide w-1/6">
          {{ label.title }}
        </span>
      </div>
      <ul>
        <li

          v-for="(item, index) in transactions"
          :key="index"
          :class="{'bg-red-100': item.spam}"
          class="w-full flex items-center justify-between py-5 border-b">
          <span class="w-1/6">
            {{ item.transaction_id }}
          </span>

          <span class="w-1/6">
            {{ item.transaction_date }}
          </span>

          <div class="w-1/6">
            <div
              v-if="item.transaction_status === 'succeeded'"
              class="flex items-center">
              <success/>
              <span class="ml-2">
                {{ item.transaction_status }}
              </span>
            </div>

            <div
              v-else
              class="flex items-center">
              <fail/>
              <span class="ml-2">
                {{ item.transaction_status }}
              </span>
            </div>
          </div>

          <div class="w-1/6">
            <span
              v-if="item.transaction_type === 'credit'"
              class="p-1 bg-green-100 rounded-2xl">
              {{ item.transaction_type }}
            </span>

            <span
              v-else
              class="p-1 bg-red-200 rounded-2xl">
              {{ item.transaction_type }}
            </span>
          </div>

          <span class="w-1/6">
            {{ item.transaction_amount }}
          </span>

          <div class="actions flex items-center w-1/6">
            <div
              v-if="!item.spam"
              @click="setSpam(item)"
              class="spam rounded-full bg-red-600 w-8 h-8 mr-3 cursor-pointer flex items-center justify-center relative">
              <spam/>
              <span class="spamText">
                SPAM
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="spammedTransactions mt-10 p-5 flex flex-col">
      <span class="mb-5 tracking-wide uppercase font-bold text-xs">
          Reported transactions
      </span>

      <ul>
        <li

          v-for="(spamItems, index) in spammedTransactions"
          :key="index"
          class="w-full flex items-center justify-between py-5 border-b">
          <span class="w-1/5">
            {{ spamItems.transaction_id }}
          </span>

          <span class="w-1/5">
            {{ spamItems.transaction_date }}
          </span>


          <div class="w-1/5">
            <span
              v-if="spamItems.transaction_type === 'credit'"
              class="p-1 bg-green-100 rounded-2xl">
              {{ spamItems.transaction_type }}
            </span>

            <span
              v-else
              class="p-1 bg-red-100 rounded-2xl">
              {{ spamItems.transaction_type }}
            </span>
          </div>

          <span class="w-1/5">
            {{ spamItems.transaction_amount }}
          </span>

          <div class="flex items-center w-1/5">
            <div
              @click="deleteSpam(spamItems)"
              class="closeBtn rounded-full bg-black w-8 h-8 mr-3 cursor-pointer flex items-center justify-center relative">
              <close />
              <span class="closeText">
                DELETE
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import {mapState, mapActions, mapGetters, mapMutations} from 'vuex'
import Success from "~/components/svg/Success";
import Fail from "~/components/svg/Fail";
import Back from "~/components/svg/Back";
import Flag from "~/components/svg/Flag";
import Spam from "~/components/svg/Spam";
import Close from "@/components/svg/Close";

export default {
  components: {Close, Spam, Flag, Back, Fail, Success},
  data: () => ({
    labels: [
      {
        title: 'ID'
      },
      {
        title: 'DATE'
      },
      {
        title: 'STATUS'
      },
      {
        title: 'TYPE'
      },
      {
        title: 'AMOUNT'
      },
      {
        title: 'ACTIONS'
      }
    ],
    okTransactions: [],
    flaggedTransactions: []
  }),
  methods: {
    ...mapActions(['getTransactions', 'spamTransaction', 'deleteSpamTransaction']),
    ...mapMutations(['SET_SPAM']),
    setSpam(item) {
      this.$store.dispatch('spamTransaction', item.transaction_id)
    },
    deleteSpam(item) {
      this.$store.dispatch('deleteSpamTransaction', item.transaction_id)
    }
  },
  computed: {
    ...mapState(['balance', 'transactions']),
    ...mapGetters(
      {
        spammedTransactions: 'spammedTransactions'
      })
  }
}
</script>

<style scoped>
.spam,
.closeBtn {
  transition: all .3s ease;
  font-size: 10px;
}

.spam:hover {
  & .spamText {
    display: flex;
    top: -18px;
  }
}

.closeBtn:hover {
  & .closeText {
    display: flex;
    top: -18px;
  }
}

.spamText,
.closeText {
  transition: all .3s ease;
  display: none;
  position: absolute;
  top: 0;
}
</style>
