<template>
  <section class="w-screen">
    <div>
      <div class="border-b-2 w-full flex items-center justify-between">
        <h2 class="subtitle ml-5">
          Dashboard
        </h2>
        <span class="text-xl mr-5">
          Balance: <span class="text-green-500">{{ balance }} $</span>
        </span>
      </div>

      <div class="cards p-5">
        <span class="mb-5 tracking-wide uppercase font-bold text-xs">
          Active accounts
        </span>
        <div class="accounts mt-5 flex items-center">
          <card-account
            v-for="(item, index) in returnAccounts"
            :key="index"
            :info="item"
            class="mr-5"/>

          <div class="createAccount flex flex-col items-center ml-8">
            <span class="text-xs mb-2">
              New account
            </span>
            <div
              @click="newAccount"
              class="addButton rounded-full h-12 w-12 bg-green-500 flex items-center justify-center cursor-pointer">
              <add-account />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-10 p-5">
        <span class="mb-5 tracking-wide uppercase font-bold text-xs">
          Last transaction
        </span>
      </div>

      <div class="lastTransaction mx-5 mt-5">
        <div class="labels w-full flex items-center justify-between mb-5">
        <span
          v-for="label in labels"
          class="text-xs font-bold opacity-50 tracking-wide w-1/5">
          {{ label.title }}
        </span>
        </div>
        <ul>
          <li
            v-for="(item, index) in returnTransactions.slice(0, 1)"
            :key="index"
            class="w-full flex items-center justify-between py-5">
            <span class="w-1/5">
              {{ item.transaction_id }}
            </span>

            <span class="w-1/5">
              {{ item.transaction_date }}
            </span>

            <div class="w-1/5">
              <div
                v-if="item.transaction_status === 'succeeded'"
                class="flex items-center">
                <success />
                <span class="ml-2">
                {{ item.transaction_status }}
              </span>
              </div>

              <div
                v-else
                class="flex items-center">
                <fail />
                <span class="ml-2">
                {{ item.transaction_status }}
              </span>
              </div>
            </div>

            <div class="w-1/5">
            <span
              v-if="item.transaction_type === 'credit'"
              class="p-1 bg-green-100 rounded-2xl">
              {{ item.transaction_type }}
            </span>

              <span
                v-else
                class="p-1 bg-red-100 rounded-2xl">
              {{ item.transaction_type }}
            </span>
            </div>

            <span class="w-1/5">
            {{ item.transaction_amount }}
          </span>
          </li>
        </ul>
      </div>

      <div class="mt-10 p-5 flex flex-col">
        <span class="mb-5 tracking-wide uppercase font-bold text-xs">
          Reported transactions
        </span>

        <ul>
          <li
            v-for="(spamItems, index) in returnSpammedTransactions"
            :key="index"
            class="w-full flex items-center justify-between py-5 border-b">
          <span class="w-1/5">
            {{ spamItems.transaction_id }}
          </span>

            <span class="w-1/5">
            {{ spamItems.transaction_date }}
          </span>


            <div class="w-1/5">
            <span
              v-if="spamItems.transaction_type === 'credit'"
              class="p-1 bg-green-100 rounded-2xl">
              {{ spamItems.transaction_type }}
            </span>

              <span
                v-else
                class="p-1 bg-red-100 rounded-2xl">
              {{ spamItems.transaction_type }}
            </span>
            </div>

            <span class="w-1/5">
            {{ spamItems.transaction_amount }}
          </span>
          </li>
        </ul>

        <nuxt-link to="/transactions" class="text-green-500 text-sm underline mt-5">
          See all transactions
        </nuxt-link>
      </div>
    </div>
    <div class="flex items-center mb-10">
      <div
        @click="newTransaction"
        class="addTransaction rounded-full mx-5 h-12 w-12 bg-green-500 flex items-center justify-center cursor-pointer">
        +
      </div>
      <span>
        new transaction
      </span>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Card from "~/components/svg/Card";
import CardAccount from "~/components/CardAccount";
import Fail from "~/components/svg/Fail";
import Success from "~/components/svg/Success";
import AddAccount from "~/components/svg/AddAccount";

export default {
  components: {AddAccount, Success, Fail, CardAccount, Card},
  data: () => ({
    labels: [
      {
        title: 'ID'
      },
      {
        title: 'DATE'
      },
      {
        title: 'STATUS'
      },
      {
        title: 'TYPE'
      },
      {
        title: 'AMOUNT'
      }
    ]
  }),
  methods: {
    ...mapActions(['createAccount', 'createTransaction', 'getAccounts', 'getTransactions']),
    async newAccount() {
      await this.createAccount()
      await this.getAccounts()

    },
    async newTransaction() {
      await this.createTransaction()
      await this.getTransactions()
    }
  },
  computed: {
    ...mapState(['transactions', 'balance', 'accounts']),
    ...mapGetters(['spammedTransactions']),

    returnAccounts() {
      return this.$store.state.accounts
    },

    returnTransactions() {
      return this.$store.state.transactions
    },

    returnSpammedTransactions() {
      return this.$store.getters.spammedTransactions
    }
  }

}
</script>

<style>

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.addButton {
  transition: all .3s ease;
}
.addButton:hover {
  transform: scale(1.1);
}
</style>
