<template>
  <div class="w-screen">
    <div class="border-b-2 w-full flex items-center justify-between">
      <h2 class="subtitle ml-5">
        Settings
      </h2>
      <span class="text-xl mr-5">
        Balance: <span class="text-green-500">{{ balance }} $</span>
      </span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['balance'])

}
</script>

<style scoped>

</style>
